.page {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-left: 10px;
}
.buttons {
    display: flex;
    justify-content: space-around;
    width: 400px;
}
.div {
    color: white;
    margin-left: 20px;
}