.chat {
    display: flex;
    margin-left: 30px;
}

.chat .message {
    position: relative;
    margin-left: 20px;
    padding: 10px;
    width: 200px;
    height: 60px;
    background: #00aabb;
    border-radius: 10px 10px 10px 10px;
}

.chat .message:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 18px solid transparent;
    border-right-color: #00aabb;
    border-left: 0;
    border-bottom: 0;
    margin-top: -12px;
    margin-left: -18px;
}

.chat img {
    margin-top: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.time {
    margin-left: 160px;
    color: #204d26;
}

.text_message {
    color: #ddfabb;
}
