.someClass {

}
.affairs {
    margin-left: 10px;
}
.affairs .high {
    color: crimson;
}
.affairs .middle {
    color: #ce6f28;
}
.affairs .low {
     color: #a3c994;
 }
.buttonsSet {
    margin-left: 10px;
    margin-right: 10px;
}
.active {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ada4a4;
}
.buttonDelete {
    margin-right: 20px;
    margin-top: 5px;
}
