.superInput {
    width: 200px;
    padding: 8px 20px;
    margin: 8px 0;
    /*display: inline-block;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    /*box-sizing: border-box;*/
}

.errorInput {
    border: 2px solid #17b217;
    background: #af0b0b;
}

.error {
    color: #930720;
}